<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li>学习班</li>
  <li class="active">班级</li>
</ol>
<div class="btn-group btn-group-lg">
  <button class="btn btn-default" ng-click="add()">
    <i class="fa fa-file-o"></i>
    新增
  </button>
</div>
<table ng-table="tableParams" show-filter="true" class="table">
  <tr ng-repeat="d in $data">
    <td data-title="'名称'" sortable="'Name'" filter="{'Name': 'text'}">
      {{ d.Name }}
    </td>
    <td data-title="'起始'" sortable="'StartAt'" filter="{'Name': 'text'}">
      {{ d.StartAt | date:"yyyy-MM-dd" }}
    </td>
    <td data-title="'结束'" sortable="'EndAt'" filter="{'Name': 'text'}">
      {{ d.EndAt | date:"yyyy-MM-dd" }}
    </td>
    <td data-title="'操作'" width="100">
      <button class="btn btn-default btn-sm" ng-click="edit(d)">
        <i class="fa fa-edit"></i>
        编辑
      </button>
    </td>
  </tr>
</table>
