<!DOCTYPE html>
<html lang="zh-CN" ng-app="pen" ng-csp>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ng-table.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <title>学习班管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
  </head>
  <body ng-controller="PenCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">学习班管理系统</a>
        </div><!-- navbar-header -->
        <div class="collapse navbar-collapse">
          <div ng-include="'menu.html'"></div>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">
              <i class="fa" ng-class="{'fa-circle-o': like, 'fa-circle': !like}"></i>
              <span ng-class="{'text-success':isLogin, 'text-danger':!isLogin}">
                登录状态
                <i class="fa" ng-class="{'fa-check':isLogin,'fa-times':!isLogin}"></i>
              </span>
              在线人数
              <span class="badge">{{ userCount }}</span>
            </p>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ user.nick }}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="edit()">修改用户信息</a></li>
                <li class="divider"></li>
                <li><a ng-click="edit()">更换用户</a></li>
                <li><a ng-click="logout()">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- navbar-collapse -->
      </div><!-- container-fluid -->
    </nav>
    <div class="container-fluid">
      <div class="right-bar" ng-class="{'col-xs-9':showLeft, 'col-xs-12':!showLeft}">
        <div class="resize-bar pull-right" title="关闭侧栏" ng-click="showLeft=!showLeft">
        </div>
        <div ng-view></div>
      </div><!-- 9 -->
      <div class="col-xs-3 left-bar" ng-show="showLeft" ng-include="'base/left.html'" />
    </div><!-- container-fluid -->
    <script src="js/jquery.min.js"></script>
    <script src="js/md5.min.js"></script>
    <script src="js/angular-file-upload-html5-shim.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ng-table.min.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/ngSocket.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/hotkey.min.js"></script>
    <script src="js/textAngular-sanitize.min.js"></script>
    <script src="js/textAngular.min.js"></script>
    <script src="js/jquery.ba-resize.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>

