<div class="modal-header">
  <button class="close" type="button" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">用户编辑</h4>
</div><!-- modal-header -->
<div class="modal-body">
  <form class="form-horizontal" role="form" name="userForm">
    <div class="form-group">
      <div class="row">
        <label class="control-label col-xs-2">昵称</label>
        <div class="col-xs-4">
          <p class="form-control-static">{{ d.Nick }}</p>
        </div><!-- 10 -->
      </div><!-- row -->
      <div class="row">
        <label class="control-label col-xs-2" for="i_gender">性别</label>
        <div class="col-xs-3">
          <select class="form-control" name="gender" id="i_gender"
          ng-model="d.Gender" ng-options="k as v for (k, v) in pen.dict_gender">
          <option value="">-- 请选择 --</option>
          </select>
        </div><!-- 10 -->
        <label class="control-label col-xs-2" for="i_email">邮箱</label>
        <div class="col-xs-3">
          <input class="form-control" ng-model="d.Email"
          type="email" name="email" id="i_email" 
          required placeholder="输入您的邮箱"/>
        </div><!-- 10 -->
      </div><!-- row -->
    </div><!-- form-group -->
    <div ng-include="'base/base_object.html'"></div>
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="userForm.$valid?ok():''"
  class="btn btn-primary">确定</button>
  <button ng-hide="init" class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->

