<div class="btn-group btn-group-lg">
  <button class="btn btn-default">增加用户</button>
</div>
<table ng-table="tableParams" show-filter="true" class="table">
  <tr ng-repeat="user in $data">
    <td data-title="'昵称'" sortable="'Nick'" filter="{'Nick': 'text'}">
      {{ user.Nick }}
    </td>
    <td data-title="'性别'" sortable="'Gender'" filter="{'Gender': 'select'}" filter-data="getDict('gender')">
      {{ dict_gender[user.Gender] }}
    </td>
    <td data-title="'邮件地址'" sortable="'Email'" filter="{'Email': 'text'}">
      {{ user.Email }}
    </td>
    <td data-title="'操作'" width="100">
      <button class="btn btn-default btn-sm" ng-click="edit(user)">编辑</button>
    </td>
  </tr>
</table>
